
<img src="<?php
echo $block->getData('image1');
?>" alt="oke">
<?php echo $block->getData('block_url1'); ?>

<img src="<?php
echo $block->getData('image2');
?>" alt="oke">
<?php echo $block->getData('block_url2'); ?>

<img src="<?php
echo $block->getData('image3');
?>" alt="oke">
<?php echo $block->getData('block_url3'); ?>
